<h2>EMPLOYEES LIST</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let employee of employees$ | async">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstname }}</td>
      <td>{{ employee.lastname }}</td>
      <td>{{ employee.email }}</td>
    </tr>
  </tbody>
</table>

<h2>PRODUCTS LIST</h2>
<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>PRODUCT</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products$ | async">
      <td>{{ product.id }}</td>
      <td>{{ product.product }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency }}</td>
    </tr>
  </tbody>
</table>
